<div class="container">
  <h3 class="text-center">Sign up and get our newsletter</h3>
  <!-- <fieldset>
    <legend>Signup</legend> -->
    <div class="row">
      <form name='signupForm' novalidate class="col-sm-6 col-sm-offset-3">
        <!-- First name -->
        <div class="form-group">
          <input type="text" name="firstname" placeholder="Enter first name" class="form-control"
            ng-model="signupCtrl.user.firstName"
            required
            minlength="4"
            ng-maxlength="10">
            <!-- {{ signupCtrl.user.firstName }} -->
            <span
              ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.required) && signupForm.firstname.$touched">
              First name must be at least 4 characters long
            </span>
            <span ng-if="signupForm.firstname.$error.maxlength && signupForm.firstname.$touched">
              First name must not be longer than 10 characters
            </span>
        </div>

        <!-- Last name -->
        <div class="form-group">
          <input type="text" name="lastname" placeholder="Enter last name" class="form-control"
              ng-model="signupCtrl.user.lastName"
              required
              minlength="4"
              ng-maxlength="10">
              <!-- {{ signupCtrl.user.lastName }} -->
              <span
                ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.required) && signupForm.lastname.$touched">
                Last name must be at least 4 characters long
              </span>
              <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
                Last name must not be longer than 10 characters
              </span>
         </div>

          <!-- Email -->
          <div class="form-group">
          <input type="email" name="email" placeholder="Enter email" class="form-control"
            ng-model="signupCtrl.user.email"
            required>
            <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
              Must be a valid email address: handle@domain format
            </span>
          </div>

          <!-- Phone -->
          <div class="form-group row">
            <div class="col-sm-7">
              <input type="tel" name="phone" placeholder="Enter Phone ###-###-####" class="form-control"
                ng-model="signupCtrl.user.phone"
                pattern="(\d{3})-(\d{3})-(\d{4})">
                <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
                  Phone must be in the format ###-###-####.
                </span>
            </div>
            <div class="col-sm-5">
              <input type="text" name="favoritedish" placeholder="Enter Favorite Dish" class="form-control"
                ng-model="signupCtrl.user.favoriteDish">
                <span >
                  {{signupCtrl.favoriteDishMessage}}
                </span>
            </div>
           </div>

          <button class="btn btn-lg btn-success"
            ng-disabled="signupForm.$invalid"
            ng-click="signupCtrl.submit()">Submit</button>

            <div style="margin-top: 10px;">
              {{ signupCtrl.message}}
            </div>
      </form>
    </div>
</div>
